.page {

  width: 1160px;
  padding-bottom: 62px;
  font-family: Raleway;
  line-height: 1.5;
  color: #1A1A1A;

}

.page__inner {

  background-color: #fff;
  border-radius: 16px;
  padding: 60px;

}

.page__head {

  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;

}

.page__body {

  display: flex;
  justify-content: space-between;

}

.page__left {

  width: 480px;

}

.page__right {

  width: 480px;

}

.page__flex-column {

  display: flex;
  flex-direction: column;

}

.page__title {

  font-weight: bold;
  font-size: 24px;
  color: inherit;
  line-height: inherit;
  margin-bottom: 12px;

}

.page__text {

  font-size: 24px;
  margin: 12px 0;
  color: inherit;
  line-height: inherit;

}

.page__button {

  border: 0;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 0;
  color: transparent;
  text-align: center;
  white-space: nowrap;
  display: block;
  text-decoration: none

}

.page__button:focus {

  outline: none;

}

.page__button:hover {

  cursor: pointer;

}

.page__button[disabled] {

  pointer-events: none;

}

.page__button--gray {

  height: 70px;
  background-color: #f6f6f6;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 70px;
  text-align: center;
  color: #1a1a1a;
  width: 100%;

}

.page__button--gray:hover {

  background-color: #dde2e8;

}

.page__button--red {

  font-size: 18px;
  font-weight: 600;
  height: 72px;
  line-height: 72px;
  background-color: #F51C28;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  text-align: center;

}

.page__button--red:hover {

  background-color: #D12235;

}

.page__button--red[disabled] {

  background-color: #FDD2D4;

}

.page__tooltip {

  position: relative;
  width: 18px;
  height: 18px;

}

.page__tooltip summary {

  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 50%;
  list-style: none;
  color: transparent;
  font-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='18' viewBox='0 0 36 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23022F6F' d='M9,16.5A7.5,7.5,0,1,1,16.5,9,7.5,7.5,0,0,1,9,16.5ZM9,15a6,6,0,1,0-4.24-1.76A6,6,0,0,0,9,15Zm-.75-3.75h1.5v1.5H8.25ZM9.75,10v.48H8.25V9.38A.75.75,0,0,1,9,8.63,1.12,1.12,0,1,0,7.9,7.28L6.43,7a2.63,2.63,0,1,1,3.32,3Z'/%3E%3Cpath fill='%238097B7' d='M27,16.5A7.5,7.5,0,1,1,34.5,9,7.5,7.5,0,0,1,27,16.5ZM27,15a6,6,0,1,0-4.24-1.76A6,6,0,0,0,27,15Zm-.75-3.75h1.5v1.5h-1.5ZM27.75,10v.48h-1.5V9.38A.75.75,0,0,1,27,8.63a1.12,1.12,0,1,0-1.1-1.35L24.43,7a2.63,2.63,0,1,1,3.32,3Z'/%3E%3C/svg%3E");
  background-position: right

}

.page__tooltip summary:hover {

  background-position: left;

}

.page__tooltip summary::-webkit-details-marker {

  display: none;

}

.page__tooltip summary::marker {

  display: none;

}

.page__tooltip__inner {

  width: 330px;
  padding: 24px;
  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  position: absolute;
  left: 100%;
  bottom: 100%;
  z-index: 1;

}

/* proceed-foot */

.page__proceed-foot {

  margin-top: auto;

}

.page__proceed-checkbox {

  margin: 24px 0;

}

.page__proceed-foot-btns-gray {

  display: flex;
  margin-top: 24px;
  justify-content: space-between;

}

.page__proceed-foot-btns-gray .page__button--gray {

  width: 228px;

}

/* special-offer */

.page__special-offer {

  color: #fff;
  padding-bottom: 68px;
  margin-bottom: -68px;
  background: linear-gradient(52deg, #04447D 42%, #162D67 63%, #4B2A59);
  border-radius: 12px;

}

.page-special-offer {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 24px;

}

.page-special-offer__label {

  line-height: 30px;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 15px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.014em;
  text-transform: uppercase;
  color: #1A1A1A;
  padding: 0 10px;
  margin-right: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);

}

.page-special-offer__title {

  color: inherit;
  font-size: 16px;
  line-height: 30px;

}

.page-special-offer__title b {

  font-size: 15px;

}

.page-special-offer hr {

  margin: 0 18px;
  border: 0;
  width: 2px;
  height: 24px;
  background-color: #fff;
  opacity: 0.2;
  transform: rotate(30deg);

}

.page-special-offer__deadline {

  color: inherit;
  font-size: 16px;
  line-height: 30px;

}

.page-special-offer__deadline b {

  margin-left: 2px;

}

/* check-list */

.page__check-list {

  margin: 24px 0;

}

.page__check-list li {

  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  padding-left: 36px;
  position: relative;
  margin: 24px 0;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.41-1.42L10 15.17z' fill='%2324B8E8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

}

/* description */

.page__description {

  padding-left: 14px;
  margin: 24px 0;
  border-left: 2px solid #24B8E8;

}

.page__description h3, .page__description p, .page__description li {

  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;

}

.page__description h3 + p {

  margin-top: 6px;

}

.page__description p, .page__description ul {

  margin: 20px 0

}

.page__description p:last-child, .page__description ul:last-child {

  margin-bottom: 0;

}

.page__description ul {

  margin-top: 24px;

}

.page__description ul li {

  padding-left: 20px;
  position: relative

}

.page__description ul li::before {

  position: absolute;

  top: 0;

  left: 0;

  content: '•';

  font-size: 30px;

  line-height: 20px;

  color: #4F4F4F;

}

/* hr  */

.page__hr {

  height: 2px;
  border: 0;
  background-color: #CCD6E2;
  opacity: 0.3;
  margin: 24px 0;

}

/* input */

.page__input {

  height: 60px;
  padding: 15px 24px;
  width: 100%;
  font-family: inherit;
  position: relative;
  appearance: none;
  display: block;
  filter: none;
  -webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

  background-color: #fff;
  font-size: 16px;
  line-height: 30px;
  color: #1A1A1A;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin: 0;

}

textarea.page__input {

  resize: none;
  height: 110px;
  overflow: auto;

}

.page__input::placeholder {}

.page__input::-ms-clear {

  display: none;

}

.page__input:-webkit-autofill {

  animation-name: autofill;

  animation-fill-mode: both;

}

.page__input:valid {}

.page__input:hover:not(:focus) {

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

}

.page__input:focus {

  outline: none;

  border: 1px solid #017AC1;

}

.page__input[disabled] {

  pointer-events: none;
  background-color: #F6F6F6;

}

/*
.page__input:invalid {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #F51C28;
}*/

.error {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #F51C28;
}

.page__inputbox {

  display: flex;
  width: 100%;

}

.page__inputbox-label {

  line-height: 1.5;
  color: #1A1A1A;
  display: flex;
  align-items: center;
  margin-bottom: 12px;

}

.page__inputbox-label--big {

  font-size: 24px;
  margin-bottom: 24px;

}

.page__inputbox-tooltip {

  margin-left: 10px;

}

.page__checkbox {

  display: block;
  position: relative;
  cursor: pointer;

}

.page__checkbox-label {

  display: block;
  padding-left: 32px;
  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F

}

.page__checkbox-label::before {

  position: absolute;

  width: 20px;

  height: 20px;

  left: 0;

  top: 0;

  border: 1px solid #8097B7;

  border-radius: 4px;

  content: '';

}

.page__checkbox-label a {

  text-decoration: underline;
  color: #022F6F;

}

.page__checkbox-label a:hover {

  text-decoration: none;

}

.page__checkbox input {

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.0001;
  z-index: -1;
  appearance: none;

}

.page__checkbox:hover .page__checkbox-label::before {

  border-color: #022f6f;

}

input:checked ~ .page__checkbox-label::before {

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M8.67 12.13L14.8 6l.94.94-7.07 7.07-4.25-4.24.95-.94 3.3 3.3z' fill='%23022F6F'/%3E%3C/svg%3E");

}

.page__radio {

  display: block;
  position: relative;
  margin: 12px 0;

}

.page__radio-input {

  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  opacity: .0001;
  z-index: -1;

}

.page__radio-label {

  display: flex;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  padding-left: 32px;
  cursor: pointer

}

.page__radio-label::before {

  position: absolute;

  width: 20px;

  height: 20px;

  top: 2px;

  left: 0;

  content: '';

  opacity: 0.5;

  border: 1px solid #1A1A1A;

  border-radius: 50%;

  background-repeat: no-repeat;

  background-position: center;

}

.page__radio-input:disabled ~ .page__radio-label {

  opacity: .3;
  pointer-events: none

}

.page__radio-input:disabled ~ .page__radio-label::before {

  opacity: .5 !important;

}

.page__radio:hover .page__radio-label::before {

  opacity: 1;

}

.page__radio-input:checked ~ .page__radio-label::before {

  opacity: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='10' height='10' rx='5' fill='%2324B8E8'/%3E%3C/svg%3E");

}

.page__radio-logo {

  margin-right: 10px;

}

.page__radio-list {

  margin: 24px 0;

}

.page__radio-list-head {

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;

}

.page__discount {

  margin: 24px 0;
  display: flex;
  padding: 12px;
  background-color: #023672;
  border-radius: 8px;
  align-items: center

}

.page__discount.is-disabled {

  opacity: .2;

  pointer-events: none;

}

.page__discount-logo {

  margin-right: 12px;
  flex-shrink: 0;

}

.page__discount-text {

  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex-grow: 1;

}

.page__discount-text b {

  display: block;
  font-weight: 600;
  color: #24B8E8;

}

.page__discount-btn {

  background-color: #24B8E8;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  margin: 12px;
  padding: 0 12px;

}

.page__foot {

  text-align: center;

}

.page__foot-ico {

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

}

.page__foot p {

  font-size: 16px;
  line-height: 24px;
  color: #000;

}

.page__foot small {

  display: block;
  font-size: 14px;
  line-height: 28px;
  color: #000;

}

.page__foot a {

  color: #24B8E8;
  text-decoration: underline

}

.page__foot a:hover {

  text-decoration: none;

}

.page__app {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.page__app hr {

  height: 20px;
  width: 2px;
  border: 0;
  margin: 0 12px;
  background-color: #000;
  opacity: .1;

}

@keyframes autofill {

  to {

    color: #1A1A1A;
    background-color: #fff;

  }

}

.bank-account__cards {

  display: flex;
  flex-wrap: wrap;
  margin: -6px;

}

.bank-account__cards-item {

  margin: 6px;
  width: calc(50% - 12px);

}

/* card  */

.bank-account-card {

  border: 2px solid rgba(39, 45, 49, 0.1);
  border-radius: 8px;
  position: relative;
  padding: 22px;
  display: flex;
  flex-direction: column

}

.bank-account-card:hover {

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

  border-color: #fff;

}

.bank-account-card__logo {

  display: flex;
  justify-content: center;
  margin-bottom: 12px;

}

.bank-account-card__name {

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: inherit;

}

.bank-account-card__foot {

  margin-top: auto;
  display: flex;
  padding-top: 17px;
  justify-content: center;

}

.bank-account-card__sum {

  font-weight: bold;
  font-size: 14px;
  height: 28px;
  line-height: 24px;
  color: #022F6F;
  padding: 0 10px;
  white-space: nowrap;
  border: 2px solid #E9EAEA;
  border-radius: 20px;
  margin: 3px;

}

.bank-account-card__apply {

  font-family: inherit;
  font-weight: 800;
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  margin: 3px;
  background-color: #24B8E8;
  border-radius: 20px;
  padding: 0 12px;
  height: 28px;

}

.bank-account-card__apply:hover {

  background-color: #022F6F;

}

.bank-account-card__tooltip {

  position: absolute;
  top: 0;
  right: 0;

}

.bank-account-card__tooltip_cart {

  position: absolute;
  top: 10px;
  right: 10px;

}

/* result  */

.bank-account-result {

  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

}

.bank-account-result__item {

  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(204, 214, 226, 0.3);

}

.bank-account-result__left {

  display: flex;
  align-items: center;

}

.bank-account-result__right {

  display: flex;
  align-items: center;

}

.bank-account-result__logo {

  margin-right: 8px;

}

.bank-account-result__name {

  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;

}

.bank-account-result__sum {

  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;
  white-space: nowrap;
  margin: 0 10px;

}

.bank-account-result__remove {

  opacity: .2;

}

.bank-account-result__remove svg {

  fill: #022F6F;

}

.bank-account-result__remove:hover {

  opacity: 1;

}

.bank-account-result__total {

  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1A1A1A;
  padding: 20px;

}

.finish-application__hr {

  margin: 36px 0;

}

.finish-application__for {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin: 24px 0 -12px;
}

.finish-application__for:last-of-type {
  margin-bottom: 36px;
}

.finish-application__for-left {

  display: flex;
  align-items: center;

}

.finish-application__for-right {

  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;
  white-space: nowrap;
  margin-left: 12px;

}

.finish-application__for-logo {

  margin-right: 8px;

}

.finish-application__for-name {

  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;

}

.finish-application__total {

  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 21px;
  color: #1A1A1A;
  margin-bottom: 18px;
}

.finish-application__total-right {

  white-space: nowrap;
  margin-left: 24px;

}

.account-checkout {

  padding: 48px 60px 36px;

}

.account-checkout__apply-for {

  margin-bottom: 36px;


}

.account-checkout__apply-for-item {

  display: flex;
  align-items: center;
  margin: 18px 0;

}

.account-checkout__apply-for-litteral {

  flex-shrink: 0;
  width: 48px;
  height: 48px;
  background-color: #04437C;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 900;

}

.account-checkout__apply-for-logo {

  flex-shrink: 0;
  width: 48px;
  height: 48px;
  margin-right: 16px;

}

.account-checkout__apply-for-text {

  flex-grow: 1;

}

.account-checkout__apply-for-label {

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4f4f4f;

}

.account-checkout__apply-for-name {

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1a1a1a

}

.account-checkout__apply-for-name.is-check {

  padding-left: 24px;

  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11.38l6.9-6.9 1.06 1.06L7.5 13.5 2.73 8.73l1.06-1.06 3.71 3.7z' fill='%2324B8E8'/%3E%3C/svg%3E");

  background-repeat: no-repeat;

  background-position: left;

}

.account-checkout__apply-for-btn {

  flex-shrink: 0;
  background-color: #24B8E8;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-left: 36px;
  padding: 0 20px 0 34px

}

.account-checkout__apply-for-btn::before {

  position: absolute;

  width: 8px;

  height: 8px;

  top: 0;

  left: 20px;

  bottom: 0;

  margin: auto;

  content: '';

  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 0H3v3H0v2h3v3h2V5h3V3H5V0z' fill='%23fff'/%3E%3C/svg%3E");

}

.account-checkout__total {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 24px;
  color: #1A1A1A;

}

.account-checkout__total-right {
display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 12px;
  margin-left: 0;
}

.account-checkout__total-right svg {
  margin-left: 6px;
  fill: #022F6F;
}

.account-checkout__total-right svg:hover {
  fill: #8097B7;
  cursor: pointer;
}

.account-checkout__foot {

  display: flex;
  align-items: center;
  margin-top: 60px;

}

.account-checkout__foot-btn {

  width: 252px;
  margin-right: 36px;

}

.account-checkout__foot-text {

  font-size: 14px;
  line-height: 18px;
  color: #1a1a1a;

}

.account-checkout__foot-text span {

  font-size: 24px;
  line-height: 20px;
  display: block;

}

.account-checkout__hr {

  margin: 60px 0 24px;

}

.payment-method {

  margin: 24px 0;

}

.payment-method__head {

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4f4f4f;
  margin-bottom: 6px;

}

.payment-method__head ~ .payment-method__head {

  margin-top: 24px;

}

.payment-method__row {

  display: flex;
  align-items: center;

}

.payment-method__logo {

  margin-right: 10px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;

}

.payment-method__name {

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;

}

.payment-method__copy {

  margin-left: 5px

}

.payment-method__copy:hover svg {

  fill: #8097B7;

}

.payment-method__copy svg {

  fill: #022F6F;

}


.bank-account-card__active {
  background: rgba(2, 47, 111, 0.1);
  color: #022F6F;
}

.bank-account-card__active:hover {
  background: rgba(2, 47, 111, 0.1);
  color: #022F6F;
}
