<template>
  <div class="page">

    <div class="bank-account page__inner">

      <div class="page__head">

        <div class="page__left">

          <h1 class="page__title">
            Migom Bank offers a wide range of features for its customers
          </h1>

          <p class="page__text">
            Build your ideal bank account
          </p>

        </div>

      </div>

      <div class="page__body">

        <div class="page__left">

          <div class="bank-account__cards">

            <article class="bank-account__cards-item bank-account-card" v-for="item in items" :key="item.name">

              <div class="bank-account-card__logo">
                <img :src="item.img" :alt="item.name">

              </div>

              <p class="bank-account-card__name">
                {{ item.name }}
              </p>

              <div class="bank-account-card__foot" v-if="item.price">

                <div class="bank-account-card__sum">
                  € {{ item.price }}
                </div>

                <button v-if="!inCart(item.id)" class="bank-account-card__apply page__button" type="button" @click="addToCard(item)">
                  Apply Now
                </button>

                <button v-else class="bank-account-card__apply page__button bank-account-card__active" type="button">
                  InCart
                </button>

              </div>

              <TooltipComponent :myclass="'bank-account-card__tooltip_cart'"></TooltipComponent>

            </article>

          </div>

        </div>

        <div class="page__right page__flex-column">

          <div class="bank-account-result">

            <div class="bank-account-result__item" v-for="itemCart in cart_items">

							<span class="bank-account-result__left">

								<span class="bank-account-result__logo">

                  <img height="24" width="24" :src="itemCart.img" alt="itemCart.name"/>

								</span>

								<span class="bank-account-result__name">
									{{ itemCart.name }}
								</span>

							</span>

              <span class="bank-account-result__right">

								<span class="bank-account-result__sum">
									€ {{ itemCart.price }}
								</span>

								<button class="bank-account-result__remove page__button" type="button" @click="removeFromCart(itemCart.id)">
									<svg width="20" height="20" viewBox="0 0 20 20">
										<path
                        d="M10 18.33a8.33 8.33 0 110-16.66 8.33 8.33 0 010 16.66zm0-9.5L7.64 6.45 6.46 7.64 8.82 10l-2.36 2.36 1.18 1.18L10 11.18l2.36 2.36 1.18-1.18L11.18 10l2.36-2.36-1.18-1.18L10 8.82z"/>
									</svg>
								</button>

							</span>

            </div>

            <div class="bank-account-result__total">

							<span class="bank-account-result__left">
								Total onboarding fee:
							</span>

              <span class="bank-account-result__right">
								€ {{ sum }}
							</span>

            </div>

          </div>

          <div class="page__proceed-foot">

            <button class="page__button page__button--red" :disabled="sum ? false : true" @click="onCheckout">
              Proceed to checkout
            </button>

            <div class="page__proceed-foot-btns-gray">

              <button class="page__button page__button--gray" type="button" onclick="window.location = route('home').url()">
                Back 🔙
              </button>

              <a :href="route('home')" class="page__button page__button--gray">
                Main Menu 🏠
              </a>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
</template>

<script>
import TooltipComponent from "./TooltipComponent";

export default {
  name: "cart-component",
  components: { TooltipComponent },
  props: ['data', 'items'],
  data: function() {
    return {
      'cart_items': [],
      'sum': 0,
      'active': false,
    }
  },
  created () {
    window.addEventListener('beforeunload', this.closePage);
  },
  mounted () {

    if(this.data) {

      this.cart_items = this.data.items;

      this.calculateSum();
    }

  },
  methods: {
    addToCard (item) {
      this.cart_items.push(item)

      this.calculateSum();
    },
    removeFromCart (id) {
      this.cart_items = this.cart_items.filter(item => item.id !== id);

      this.calculateSum();

    },
    calculateSum () {
      this.sum = this.cart_items.reduce((accum, current) => accum + current.price, 0);

      this.$vueEventBus.$emit('carticon', this.sum <= 0)

      axios.post(route('api.checkout').url(), {
        items: this.cart_items,
        sum: this.sum,
        wallet_id: '',

      }).then(response => {
        const { data } = response;
      });
    },
    onCheckout () {

      if (this.cart_items.length) {

        axios.post(route('api.checkout').url(), {
          items: this.cart_items,
          sum: this.sum,
          wallet_id: '',

        }).then(response => {
          const { data } = response;

          window.location = data.url;
        });
      }
    },
    inCart (id) {
      return this.cart_items.filter(item => item.id === id).length;
    },
    closePage() {
      axios.post(route('log_activity.store').url(), { 'cart_items': this.cart_items, 'last_step': 'bank.account' })
      .then(response => {
        const { data } = response;
      });
    }

  }
}
</script>

<style scoped>

</style>
