<template>
  <a :href="route('bank.account')" class="cart-icon__link" :class="{hide: isHidden}">
    <img src="/img/cart-icon.svg" alt="cart"/>
    <img class="cart-icon__not-empty" src="/img/cart-not-empty.svg" alt="cart"/>
  </a>
</template>

<script>
export default {
  name: "CartIconComponent",
  props: ['ishide'],
  created() {
    this.$vueEventBus.$on('carticon', this.onHide)
  },
  mounted () {
    console.log(this.ishide);
  },
  methods: {
    onHide: function(param) {
      this.isHidden = param
    },
  },
  data: function() {
    return {
      'isHidden': this.ishide,
    }
  },

}
</script>
To



