<template>
  <div class="page page--account">

    <div class="account-checkout page__inner">
      <div id="sumsub-websdk-container"></div>
      <div class="page__body">

        <div class="page__left">

          <h1 class="page__title">
            Apply here for
          </h1>

          <div class="account-checkout__apply-for">

            <div class="account-checkout__apply-for-item" v-for="item in items.items" :key="item.name">

              <div class="account-checkout__apply-for-logo">
                <img :src="item.img" alt="item.name"/>
              </div>

              <div class="account-checkout__apply-for-text">

                <div class="account-checkout__apply-for-label">
                  {{ item.name }}
                </div>

                <div class="account-checkout__apply-for-name is-check">
                  Individual
                </div>

              </div>

            </div>

            <hr class="page__hr">

            <div class="account-checkout__apply-for-item">

              <div class="account-checkout__apply-for-logo">
                <svg width="48" height="48" viewBox="0 0 48 48">
                  <circle opacity=".5" cx="24" cy="24" r="24" fill="#F2F2F2"/>
                  <g opacity=".5" fill="#022F6F">
                    <path
                        d="M24.02 36.5h-.7l-.02-.01-.72-.04a13.85 13.85 0 01-3.19-.7 12.07 12.07 0 01-5.3-3.73c-.13-.15-.26-.3-.38-.47l-.63-.9a13.24 13.24 0 01-.86-1.64c-.1-.25-.22-.5-.3-.76-.12-.34-.23-.7-.33-1.04a19.33 19.33 0 01-.35-1.9l-.05-.62-.01-.42-.01-.02v-.5-.02l.04-.8.04-.42a13.71 13.71 0 011.15-3.92c.1-.24.24-.47.37-.7a10.32 10.32 0 011.29-1.86 10.4 10.4 0 011.55-1.55c.17-.15.35-.31.54-.45a17.22 17.22 0 012.45-1.44 12.8 12.8 0 011.68-.6 12.1 12.1 0 012.3-.41l.47-.04.05-.01H24.23l.6.05a5.84 5.84 0 01.96.12 13.18 13.18 0 012.1.55l.9.36c.23.1.46.22.69.34a24.46 24.46 0 011.39.85 9.67 9.67 0 011.37 1.12c.19.18.37.37.55.57l.49.55.36.45a15.74 15.74 0 011.02 1.6c.12.2.22.42.32.64.09.18.18.36.25.55a22.91 22.91 0 01.53 1.6c.06.23.12.46.16.7l.1.58c.04.18.06.37.07.55l.05.63v.41l.02.02v.51l-.05.8-.03.43a13.85 13.85 0 01-1.13 3.86c-.12.27-.26.53-.4.79a11.31 11.31 0 01-1.1 1.61c-.2.26-.4.5-.62.74a15.45 15.45 0 01-1.56 1.41 14.58 14.58 0 01-1.75 1.14c-.39.2-.79.4-1.2.55l-.65.25a13.36 13.36 0 01-1.3.35c-.2.04-.39.09-.6.12l-.43.07-.36.04-.52.05h-.42-.02zM12.43 20.36a11.95 11.95 0 000 7.29H34.9c.76-2.43.76-4.86 0-7.29H12.43zm10.87-4.14H19.3c-.08 0-.13.02-.18.1l-.44.74a10.18 10.18 0 00-.88 2.18l-.1.43h5.6l.01-3.45zm.7 12.13v3.44H28.06c.04 0 .06 0 .08-.04.17-.28.35-.55.5-.83a11.34 11.34 0 00.88-2.24l.08-.34H24zm-6.22 0l.09.35a8.77 8.77 0 00.87 2.22c.16.28.33.55.48.83.02.03.05.05.09.05h4v-3.45h-5.53zm11.7-8.68c0-.08-.02-.15-.04-.23l-.32-1.04a7.98 7.98 0 00-.62-1.36l-.44-.76c-.02-.04-.04-.05-.09-.05h-3.98v3.45h5.5zm.71 0h4.46l-.05-.1a11.6 11.6 0 00-1.22-2.27c-.13-.2-.28-.38-.43-.58a7.4 7.4 0 00-.3-.38c-.05-.05-.08-.12-.18-.12H28.85c.64 1.08 1.1 2.23 1.34 3.45zm-17.5 8.68c.1.23.19.45.3.67a11.77 11.77 0 001.07 1.83l.43.58.28.32c.03.04.06.05.1.05h3.55v-.03l-.34-.6a10.26 10.26 0 01-.99-2.75c0-.06-.03-.08-.1-.08h-4.3zm21.96 0h-4.29c-.04 0-.05.01-.07.05-.08.32-.15.63-.25.95a11.37 11.37 0 01-1.01 2.28l-.1.17h3.5c.1 0 .14-.04.19-.1l.08-.1c.14-.17.3-.35.43-.53l.39-.57.59-1 .3-.6.24-.55zm-16.3-12.13H14.9c-.06 0-.1.01-.15.07-.12.16-.27.3-.38.47a15.48 15.48 0 00-1.17 1.82l-.4.83-.1.27h4.26l.05-.04.06-.26c.1-.35.2-.71.32-1.07.07-.22.16-.43.25-.64l.2-.45.33-.62c.05-.13.12-.25.2-.38zm6.95-3.9l.62.5a12.3 12.3 0 011.9 1.92c.2.25.38.5.57.76.02.04.04.04.08.04H31.9a11.89 11.89 0 00-6.6-3.22zm-9.84 20.17a11.73 11.73 0 006.59 3.2c-.02 0-.03-.02-.04-.03a29.16 29.16 0 01-.84-.66c-.19-.17-.39-.33-.57-.51a32.23 32.23 0 01-1.13-1.22c-.2-.24-.38-.49-.56-.73-.03-.04-.05-.05-.09-.05h-3.36zm6.57-20.19a11.82 11.82 0 00-6.59 3.23h3.22c.1 0 .16-.01.23-.1A12.98 12.98 0 0120.06 14l.63-.62.47-.4.46-.38.4-.3zm3.3 23.38c2.52-.37 4.69-1.44 6.53-3.2h-3.32-.03a.07.07 0 00-.04.03l-.54.7-.51.6-.44.45-.41.4-.46.4a11.4 11.4 0 01-.78.62zm-1.34.05a13.3 13.3 0 003.63-3.24H24v3.24zm-.69-23.44a12.97 12.97 0 00-3.63 3.24h3.63V12.3zm4.25 3.24c-.99-1.3-2.17-2.38-3.55-3.26v3.26h3.55zM19.74 32.5c1 1.29 2.18 2.35 3.56 3.2v-3.2h-3.56z"/>
                    <path
                        d="M22.04 21.6l.07-.41h1.8l-.09.37c0 .02-.03.03-.05.03-.1.02-.21.02-.29.1-.05.06-.11.12-.15.2-.2.3-.39.63-.59.95l-.51.86-.51.83-.55.92-.51.84-.29.46c-.08.13-.2.14-.3.03a.13.13 0 01-.03-.08v-.58-2.7-.04l-.17.29-.56.93-.52.86-.52.85-.28.46c-.04.07-.1.1-.16.08-.06-.02-.11-.1-.11-.17V22a.9.9 0 00-.06-.27c-.02-.07-.07-.1-.15-.1l-.24-.03.07-.4h1.95l-.1.4-.2.04a.16.16 0 00-.12.15V24.25l.13-.2a126.53 126.53 0 001.03-1.68l.01-.05v-.45c0-.17-.1-.24-.25-.26-.05 0-.1 0-.16-.02l.07-.4h1.99a608.32 608.32 0 01-.07.37c0 .02-.03.03-.04.04l-.16.01c-.12 0-.16.09-.16.2v2.36h.01c.06-.1.13-.19.18-.3l.5-.8.47-.76c.06-.1.13-.2.17-.3.04-.08.07-.16.09-.25.01-.1-.05-.15-.16-.15h-.41l-.07-.01zM12.56 26.76l.58-2.1h.3l-.02.1c-.03.15-.04.3-.02.46.03.29.14.52.35.72.14.14.3.22.5.25.35.06.65-.05.9-.3.09-.09.17-.18.2-.31v-.34c-.01-.11-.04-.23-.12-.32-.1-.12-.21-.21-.32-.33l-.34-.34-.18-.19c-.19-.2-.38-.42-.53-.66-.11-.18-.2-.38-.24-.59a1.68 1.68 0 01.26-1.15 1.6 1.6 0 011-.67c.3-.07.6-.04.88.08.16.07.33.13.49.18.15.04.31.03.47 0a.2.2 0 00.16-.15c0-.02.03-.03.04-.03h.28l-.53 1.77h-.24s-.03-.02-.03-.04c-.04-.18-.07-.36-.12-.53a1.07 1.07 0 00-.4-.6.62.62 0 00-.33-.11.77.77 0 00-.49.11.7.7 0 00-.28.42.84.84 0 00.02.54c.05.14.13.27.22.37l.63.67.36.38c.21.23.37.5.42.81.04.3 0 .58-.1.85-.12.33-.33.6-.63.78-.22.15-.47.24-.73.28a2.4 2.4 0 01-.57.02c-.2-.01-.39-.06-.57-.14a.86.86 0 00-.44-.1c-.15.03-.3 0-.45.09a.24.24 0 00-.06.06c-.03.04-.05.06-.1.05l-.22.01zM29.8 22.74v-.36a.7.7 0 00-.11-.37c-.1-.15-.24-.22-.4-.24l-.53-.03c-.24 0-.28.05-.34.25-.09.27-.15.55-.23.83l-.14.58v.05c.24.01.48 0 .7-.16.11-.1.19-.22.24-.36.02-.04.04-.04.07-.04l.25.04-.41 1.7h-.34v-.41c-.01-.1-.03-.18-.12-.22a.48.48 0 00-.16-.04l-.36-.02-.15.53-.2.66-.23.86a.31.31 0 000 .14c.01.1.07.16.17.18l.32.04h.16l-.12.42h-2.44c.04-.14.08-.28.1-.41l.26-.04c.2-.05.3-.2.36-.4l.27-1 .22-.83.25-.95.21-.77c.04-.17.08-.33.1-.48.02-.06-.01-.13-.05-.16a.6.6 0 00-.3-.1l-.35-.03.1-.4h3.9c-.04.13-.08.27-.1.4l-.3 1.1c-.01.04-.02.04-.05.04h-.26zM30.28 22.74l.15-.55.26-.96c.01-.03.03-.04.06-.04h3.8l-.41 1.54h-.3v-.35c0-.18-.04-.34-.17-.46a.64.64 0 00-.35-.16l-.29-.03-.17.65-.29 1.07-.24.93-.28 1.07-.15.57c-.03.14.08.3.23.33.08.02.16.01.24.02l-.08.39H29.7l.09-.39c0-.01.02-.03.04-.03h.23a.8.8 0 00.43-.13.43.43 0 00.17-.24l.09-.35.22-.82.25-.93.22-.8.25-.93.1-.4a1.16 1.16 0 00-1.02.48c-.08.11-.1.26-.15.4v.02c0 .07-.05.1-.12.09h-.23zM24.77 26.34l-.06.27c-.04.15-.04.15-.2.15h-2.14l.05-.28v-.08c0-.06.04-.07.08-.07.13 0 .26-.01.38-.05.2-.06.32-.18.36-.4l.26-.95.22-.83.24-.89.2-.78.16-.57c.03-.12-.01-.2-.13-.24l-.2-.04.06-.36c0-.02.03-.03.05-.03h2.27l-.08.35c-.01.05-.03.06-.07.06-.13.01-.26.02-.38.05a.37.37 0 00-.3.27l-.24.84-.23.86-.4 1.51-.23.8c-.03.09-.06.18-.05.27 0 .06.03.09.08.1l.15.03a.7.7 0 00.15 0zM25.4 26.37c0 .16-.05.3-.16.4-.08.08-.17.11-.27.08-.1-.04-.13-.13-.14-.23a.58.58 0 01.12-.45c.05-.07.18-.14.3-.1.08.03.15.15.15.24v.06zM32.58 26.58c0-.18.05-.32.17-.43.08-.07.16-.1.26-.06.1.04.14.12.14.22a.6.6 0 01-.12.46c-.06.08-.2.14-.29.1-.08-.02-.12-.1-.15-.18l-.01-.11zM20.96 26.54c0-.15.06-.27.15-.38.07-.09.16-.13.27-.1.08.03.14.1.15.18.05.22 0 .42-.17.56-.12.1-.3.08-.36-.1-.03-.04-.03-.1-.04-.16zM16.61 26.07c.1 0 .2.09.22.2.04.2-.01.39-.16.53-.1.1-.2.1-.3.05-.08-.05-.1-.15-.1-.24-.01-.17.04-.32.15-.45.04-.06.12-.09.2-.09zM28.14 26.58c.01-.2.06-.35.19-.46.08-.07.2-.1.29-.02l.05.08c.04.08.05.15.04.21a.6.6 0 01-.06.25c-.04.08-.1.18-.2.2-.09.03-.23.02-.27-.08l-.04-.18z"/>
                  </g>
                </svg>
              </div>

              <div class="account-checkout__apply-for-text">

                <div class="account-checkout__apply-for-label">
                  Dedicated
                </div>

                <div class="account-checkout__apply-for-name">
                  Private banking account (SWIFT)
                </div>

              </div>
              <!--
              <button class="account-checkout__apply-for-btn page__button" type="button">
                add
              </button>
              -->


            </div>

          </div>

          <div class="page__description">

            <h3>
              Description
            </h3>

            <p>
              Due diligence and backgrounds checks mandated by the regulators. This money is earned when paid.
            </p>

          </div>

        </div>

        <form action="/" class="page__right">

          <div class="account-checkout__total">

						<span class="account-checkout__total-left">
							Total onboarding fee:
						</span>

            <span class="account-checkout__total-right">
							{{ items.currency }} {{ items.sum }}  <svg width="18" height="18" viewBox="0 0 18 18" @click="onClickFee">
                  <path
                      d="M5.25 4.5V2.25A.75.75 0 016 1.5h9a.75.75 0 01.75.75v10.5a.75.75 0 01-.75.75h-2.25v2.25c0 .41-.34.75-.76.75H3.01a.75.75 0 01-.76-.75V5.25c0-.41.34-.75.76-.75h2.24zM3.75 6v9h7.5V6h-7.5zm3-1.5h6V12h1.5V3h-7.5v1.5z"/>
                </svg>
						</span>
            <input id="copy-div" type="hidden" :value="items.sum" />
          </div>

          <hr class="page__hr">

          <div class="payment-method">

            <h4 class="payment-method__head">
              Payment method
            </h4>

            <div class="payment-method__row">

              <div class="payment-method__logo">
                <svg width="24" height="25" viewBox="0 0 24 25">
                  <path d="M23.64 14.9A12 12 0 11.36 9.1a12 12 0 0123.28 5.8z" fill="#F7931A"/>
                  <path
                      d="M17.3 10.3c.23-1.6-.99-2.46-2.65-3.03l.54-2.17-1.32-.32-.52 2.1-1.06-.25.53-2.12-1.31-.32-.54 2.16-.84-.2-1.82-.46-.35 1.4s.98.23.96.24c.53.14.63.49.61.77l-.61 2.46.13.05-.13-.04-.87 3.45c-.06.17-.23.41-.6.32.01.02-.96-.24-.96-.24l-.65 1.5 1.71.43.94.25-.54 2.18 1.31.33.54-2.16 1.05.27-.54 2.15 1.32.33.55-2.18c2.24.42 3.93.25 4.64-1.78.57-1.63-.03-2.58-1.21-3.2.86-.2 1.5-.76 1.68-1.93zm-3.02 4.21c-.4 1.64-3.16.75-4.05.53l.72-2.9c.9.23 3.76.67 3.33 2.37zm.41-4.24c-.37 1.49-2.66.73-3.4.55l.65-2.63c.74.18 3.14.53 2.75 2.08z"
                      fill="#fff"/>
                </svg>
              </div>

              <div class="payment-method__name">
                BTC
              </div>

            </div>

            <h4 class="payment-method__head">
              Transfer to
            </h4>

            <div class="payment-method__row">

              <div id="wallet_id" class="payment-method__name">
                {{ items.wallet_id }}
              </div>

              <button class="payment-method__copy page__button" type="button" @click="copyTestingCode">
                <svg width="18" height="18" viewBox="0 0 18 18">
                  <path
                      d="M5.25 4.5V2.25A.75.75 0 016 1.5h9a.75.75 0 01.75.75v10.5a.75.75 0 01-.75.75h-2.25v2.25c0 .41-.34.75-.76.75H3.01a.75.75 0 01-.76-.75V5.25c0-.41.34-.75.76-.75h2.24zM3.75 6v9h7.5V6h-7.5zm3-1.5h6V12h1.5V3h-7.5v1.5z"/>
                </svg>
              </button>
              <input id="copy-div-wallet" type="hidden" :value="items.wallet_id" />

            </div>

          </div>

          <hr class="page__hr">

          <label class="page__inputbox">

						<span class="page__inputbox-label">

							Your email adress

              <TooltipComponent :myclass="'bank-account-card__tooltip'"></TooltipComponent>

						</span>

            <input type="email" class="page__input" v-model="email" placeholder="">

          </label>

          <div class="account-checkout__foot">

            <div class="account-checkout__foot-btn">

              <button class="page__button page__button--red" type="button" @click="onMadePayment" :disabled="isProcess">
                I made the payment
              </button>

            </div>

            <p class="account-checkout__foot-text">
              <span>🤝</span>
              Thank you for choosing <br>
              Migom Bank!
            </p>

          </div>

        </form>

      </div>

      <hr class="account-checkout__hr">

      <div class="page__foot">

        <div class="page__foot-ico">
          ⏱
        </div>

        <p>
          <b>You’re 30 minutes away</b> from opening your bank account.
        </p>

        <small>
          Make the payment and download the mobile app / visit <a href="https://migom.com" target="_blank">migom.com</a> to enter the account.
        </small>

      </div>

      <div class="page__app">

        <a href="/">

          <svg width="20" height="20" viewBox="0 0 20 20">
            <path
                d="M14.1 0a4.47 4.47 0 01-1.02 3.2 3.77 3.77 0 01-2.97 1.41 4.26 4.26 0 011.05-3.09c.76-.86 1.8-1.4 2.95-1.52zm2.08 8.24a4.4 4.4 0 002.09 6.23 10.07 10.07 0 01-1.4 2.83c-.81 1.23-1.68 2.43-3.04 2.46a3.42 3.42 0 01-1.55-.37c-.48-.2-.97-.42-1.75-.42-.83 0-1.34.22-1.85.43-.43.19-.85.36-1.44.39-1.3.04-2.3-1.32-3.15-2.53-1.7-2.49-3.02-7-1.25-10.08a4.88 4.88 0 014.11-2.5c.74-.02 1.45.26 2.07.51.47.2.9.36 1.25.36.3 0 .71-.16 1.2-.35.75-.3 1.68-.67 2.62-.57a4.65 4.65 0 013.66 1.98c-.65.4-1.19.96-1.57 1.63z"/>
          </svg>

        </a>

        <hr>

        <a href="/">

          <svg width="20" height="20" viewBox="0 0 20 20">
            <path
                d="M4.2 18.51l8.34-4.7-1.79-2-6.55 6.7zM1.15 1.18c-.1.17-.15.37-.15.6v16.45c0 .3.11.56.29.77l8.3-8.48-8.44-9.34zm16.69 8l-2.9-1.63-2.97 3.02 2.12 2.36 3.75-2.12c.34-.17.53-.48.57-.81a1.03 1.03 0 00-.57-.81zm-4.48-2.52L3.33 1l7.47 8.28 2.56-2.62z"/>
          </svg>

        </a>

      </div>

    </div>

    <div class="checkout-popup" v-if="showPopup">
      <div class="checkout-popup__container">
        <a href="#" class="checkout-popup__close" @click="closePopup">
          <img src="/img/close-icon.svg" alt="Close"/>
        </a>
        <img src="/img/wait-icon.svg" alt="Wait"/>
        <p class="checkout-popup__header">Thanks!</p>
        <span class="checkout-popup__description">The payment will be processed within 30 minutes. If the payment is successful, you will receive an email notification.</span>
      </div>

    </div>

  </div>
</template>

<script>
import TooltipComponent from "./TooltipComponent";
import snsWebSdk from '@sumsub/websdk';

export default {
  components: { TooltipComponent },
  props: ['items'],
  name: "CheckoutFinishComponent",
  data: function() {
    return {
      'email': this.items.email,
      'showPopup': false,
      isProcess: false,
    }
  },
  created () {
    window.addEventListener('beforeunload', this.closePage);
  },
  methods: {
    copyTestingCode () {
      let testingCodeToCopy = document.querySelector('#copy-div-wallet')
      testingCodeToCopy.setAttribute('type', 'text');
      testingCodeToCopy.select();

      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';

      } catch (err) {
        alert('Oops, unable to copy');
      }

      testingCodeToCopy.setAttribute('type', 'hidden')
      window.getSelection().removeAllRanges()

    },
    launchWebSdk (apiUrl, flowName, accessToken, applicantEmail, applicantPhone) {
      let snsWebSdkInstance = snsWebSdk.Builder(apiUrl, flowName)
          .withAccessToken(
              accessToken,
              (newAccessTokenCallback) => {
                // Access token expired
                // get a new one and pass it to the callback to re-initiate the WebSDK
                let newAccessToken = '...'; // get a new token from your backend
                newAccessTokenCallback(accessToken)
              }
          )
          .withConf({
            lang: 'en',
            email: applicantEmail,
            phone: applicantPhone,
            onMessage: (type, payload) => {
              // see below what kind of messages the WebSDK generates
              //console.log('WebSDK onMessage', type, payload)

/*              if(type === 'idCheck.onApplicantLoaded') {


                axios.post(route('api.cp.update_check_status').url(), {
                  'address': this.items.wallet_id,
                  'applicantId': payload.applicantId
                })
                    .then(response => {
                      const { data } = response;

                      if (data.message) {

                      } else {

                      }
                    });
              }*/

            },
            uiConf: {
              //customCss: "https://url.com/styles.css"
              // URL to css file in case you need change it dynamically from the code
              // the similar setting at Applicant flow will rewrite customCss
              // you may also use to pass string with plain styles `customCssStr:`
              customCssStr: 'height: 420px'
            },
            onError: (error) => {
              console.error('WebSDK onError', error)
            },
          })
          .build();

      // you are ready to go:
      // just launch the WebSDK by providing the container element for it
      snsWebSdkInstance.launch('#sumsub-websdk-container')
    },
    onMadePayment () {

      axios.post(route('api.cp.check_status').url(), { 'address': this.items.wallet_id, "email": this.email })
          .then(response => {
            const { data } = response;

            if (data.message) {
              this.isProcess = true;
              this.launchWebSdk('https://api.sumsub.com', 'basic-kyc', data.token.token, this.email);

            } else {
              this.showPopup = true;
            }
          });
    },
    closePopup () {
      this.showPopup = false;
    },
    onClickFee() {
      let testingCodeToCopy = document.querySelector('#copy-div')
      testingCodeToCopy.setAttribute('type', 'text');
      testingCodeToCopy.select();

      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';

      } catch (err) {
        alert('Oops, unable to copy');
      }

      testingCodeToCopy.setAttribute('type', 'hidden')
      window.getSelection().removeAllRanges()
    },
    closePage() {
      axios.post(route('log_activity.store').url(), { 'email': this.email,'address': this.items.wallet_id, 'last_step': 'bank.checkout.finish' })
      .then(response => {
        const { data } = response;
      });

      axios.post(route('api.checkout.close').url(), { 'address': this.items.wallet_id, "email": this.email })
      .then(response => {
        const { data } = response;
      });
    }
  }
}
</script>

<style scoped>

</style>
