<template>
  <div class="page">

    <div class="page__special-offer" v-if="false">

      <aside class="page-special-offer">

        <h3 class="page-special-offer__label">
          🔥 Special offer
        </h3>

        <p class="page-special-offer__title">
          Add Dedicated SWIFT account and get <b>20% discount</b>
        </p>

        <hr>

        <p class="page-special-offer__deadline">
          👉 Offer is valid for the next <b>{{this.formatCurrentTime}}</b>
        </p>

      </aside>

    </div>

    <div class="finish-application page__inner">

      <div class="page__body">

        <div class="page__left">

          <h1 class="page__title">
            Please finish your application form
          </h1>

          <ul class="page__check-list">

            <li>
              Confirm the email address that you'll use/used for account registration
            </li>

            <li>
              Specify the payment method
            </li>

          </ul>

          <hr class="finish-application__hr page__hr">

          <h2 class="page__title">
            You're applying for:
          </h2>

          <dl class="finish-application__for" v-for="item in items.items" :key="item.id">

            <dt class="finish-application__for-left">

							<span class="finish-application__for-logo">

                <img height="24" width="24" :src="item.img" alt="item.name"/>

							</span>

              <span class="finish-application__for-name">
								{{ item.name }}
							</span>

            </dt>

            <dd class="finish-application__for-right">
              € {{ item.price }}
            </dd>

          </dl>

          <div class="page__description">

            <h3>
              Description
            </h3>

            <p>
              Note that after the payment confirmation, you'll have to pass the KYC before opening an account.
            </p>

            <p>
              Please prepare the following documents:
            </p>

            <ul>
              <li>
                Passport / ID;
              </li>
              <li>
                Utility bill.
              </li>
            </ul>

          </div>

        </div>

        <div class="page__right">

          <div class="">

						<span class="page__inputbox-label page__inputbox-label--big">
							Email adress
						</span>

            <div class="page-input__container">
              <div class="page-input__overflow">
              <input
                  v-model="email"
                  v-on:input="onChangeEmail"
                  :class="{'page-input__overflow-bg': !isConfirm, 'error': isErrorEmail}"
                  type="email"
                  class="page__input"
                  placeholder="example@example.com"
                  :disabled="!isConfirm"
                  @focus="onFocusEmail"
              >
                <div
                    v-if="!isConfirm"
                    class="page-input__overflow-text"
                    @click="onEditEmail"
                >

                  <span>Edit</span>

                </div>
              </div>

              <button v-if="isConfirm" class="button-confirm" @click="onSendConfirm" :disabled="isProcess">Confirm</button>

              <div class="page__pin-container" v-if="!isConfirm && !isFinishConfirm" :class="{'error': isErrorCode}">
                <PincodeInput
                    v-model="code"
                    placeholder="0"
                />
              </div>

              <p class="page__pin-verified" v-if="isFinishConfirm">verified</p>
            </div>

            <p v-if="!isConfirm && !isFinishConfirm" class="page__pin-description">
              The code was sent to your mail. You can resend
              <span v-if="!isNeedResend" class="page__pin-description-bold">{{this.formatCurrentTime}}</span>
              <a href="#" class="page__pin-description-resend" v-on:click.stop.prevent="onSendConfirm" v-else >resend</a>
            </p>



          </div>

          <hr class="page__hr">

          <div class="page__radio-list">

            <h4 class="page__radio-list-head">
              Payment method
            </h4>

            <label class="page__radio">

              <input class="page__radio-input" type="radio" name="payment-method" checked="checked">

              <span class="page__radio-label">

								<span class="page__radio-logo">
									<svg width="24" height="25" viewBox="0 0 24 25"><path d="M23.64 14.9A12 12 0 11.36 9.1a12 12 0 0123.28 5.8z" fill="#F7931A"/><path
                      d="M17.3 10.3c.23-1.6-.99-2.46-2.65-3.03l.54-2.17-1.32-.32-.52 2.1-1.06-.25.53-2.12-1.31-.32-.54 2.16-.84-.2-1.82-.46-.35 1.4s.98.23.96.24c.53.14.63.49.61.77l-.61 2.46.13.05-.13-.04-.87 3.45c-.06.17-.23.41-.6.32.01.02-.96-.24-.96-.24l-.65 1.5 1.71.43.94.25-.54 2.18 1.31.33.54-2.16 1.05.27-.54 2.15 1.32.33.55-2.18c2.24.42 3.93.25 4.64-1.78.57-1.63-.03-2.58-1.21-3.2.86-.2 1.5-.76 1.68-1.93zm-3.02 4.21c-.4 1.64-3.16.75-4.05.53l.72-2.9c.9.23 3.76.67 3.33 2.37zm.41-4.24c-.37 1.49-2.66.73-3.4.55l.65-2.63c.74.18 3.14.53 2.75 2.08z"
                      fill="#fff"/></svg>
								</span>

								BTC

							</span>

            </label>

            <label class="page__radio">

              <input class="page__radio-input" type="radio" name="payment-method" disabled>

              <span class="page__radio-label">

								<span class="page__radio-logo">
									<svg width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="12" fill="#2C76BB"/><path
                      d="M8.34 11.26h-.96v-.1l-.04-.17c-.02-.08-.08-.11-.15-.13a1.5 1.5 0 00-.2-.03h-.22c-.12 0-.23 0-.35.04a.22.22 0 00-.15.15c-.04.1-.04.2 0 .3.01.1.08.16.17.18l.18.02c.13 0 .25.02.37.03h.12l.33.02c.15.02.3.04.45.08.18.06.35.15.45.32.05.09.09.19.1.3a2.89 2.89 0 01-.07 1.04.72.72 0 01-.2.29.88.88 0 01-.3.15 2.28 2.28 0 01-.58.09h-.97c-.19-.03-.37-.04-.55-.1a.73.73 0 01-.5-.55 1.69 1.69 0 01-.02-.22l-.01-.35v-.01h.96v.1c0 .07 0 .13.04.19.03.07.1.1.17.12l.24.04h.36c.08 0 .15-.01.23-.03.1-.02.2-.1.21-.23.01-.1.02-.18-.01-.27a.22.22 0 00-.2-.16l-.39-.04-.3-.02-.32-.03c-.15-.01-.3-.03-.44-.08a.82.82 0 01-.33-.2.65.65 0 01-.16-.29 1.49 1.49 0 01-.06-.43V11c.01-.17.04-.33.11-.48a.65.65 0 01.27-.28c.13-.08.27-.13.42-.14l.22-.03.27-.01h.63l.31.01c.15.02.3.05.43.11.23.11.35.3.41.53.04.15.04.3.04.45l-.01.1zM19.2 13.85h-1.02c-.02 0-.03 0-.04-.02l-.18-.63h-1.34c-.02 0-.03 0-.04.03l-.16.57v.01c0 .03-.02.04-.05.04h-1-.03l.05-.17.17-.6.24-.78.25-.81.23-.8.17-.54.02-.09c0-.02.02-.02.04-.02H18c.03 0 .04 0 .05.03l.1.32.23.76.15.5.25.82.15.49.25.81.02.08zm-1.92-3.04l-.46 1.64h.93l-.47-1.64zM13.57 13.85h-1.04v-3.81h2.07c.19 0 .38.02.56.1.1.04.18.1.26.17a.9.9 0 01.28.43 4.43 4.43 0 01.07.97c-.02.2-.03.38-.1.57a.8.8 0 01-.36.44.9.9 0 01-.38.12l-.3.02h-.32l-.72.01h-.02v.98zm0-1.88h.01c.3 0 .61.03.91-.01.1-.02.15-.07.18-.15.04-.1.04-.2.05-.31l-.01-.17-.02-.2c-.03-.15-.15-.24-.29-.25H13.58v1.1z"
                      fill="#fff"/><path
                      d="M12.16 12.8V13.49c0 .02 0 .03-.03.04-.2.13-.4.23-.64.27l-.33.04c-.05.01-.1.02-.14.01l-.4-.05c-.19-.04-.36-.1-.52-.2a1.4 1.4 0 01-.3-.2l-.17-.16c-.1-.1-.2-.23-.27-.36l-.1-.18h-.68l.01-.04.24-.5c.01-.03.03-.04.07-.04h.21v-.3h-.56l.04-.1.21-.46c.02-.03.03-.04.06-.04h.35c.03 0 .05 0 .06-.03.04-.12.1-.22.18-.32l.16-.2a1.92 1.92 0 011.38-.63l.22.01.38.07a1.71 1.71 0 01.73.4l.1.07-.25.52c-.3-.36-.68-.55-1.14-.52-.45.03-.8.25-1.05.63h2.12l-.05.11c-.06.13-.13.25-.18.38-.03.09-.08.1-.16.1H9.79v.3h1.9l-.04.07-.18.4-.05.08c0 .03-.02.03-.05.03h-1.36c.27.36.6.56 1.05.58.45.02.8-.15 1.1-.47z"
                      fill="#FFD201"/></svg>
								</span>

								EUR SEPA

							</span>

            </label>

          </div>

          <aside class="page__discount is-disabled">

            <div class="page__discount-logo">

              <svg width="60" height="60" viewBox="0 0 60 60">
                <circle cx="30" cy="30" r="30" fill="#fff"/>
                <path
                    d="M30.42 44.67h-.84l-.02-.02-.86-.04c-.17-.01-.34-.02-.5-.05a16.47 16.47 0 01-3.33-.8 14.44 14.44 0 01-5.63-3.66 21.41 21.41 0 01-1.18-1.37 15.9 15.9 0 01-1.8-3.05c-.12-.3-.26-.6-.36-.92-.14-.4-.28-.82-.4-1.24l-.2-.85a23.12 23.12 0 01-.21-1.44l-.06-.74-.01-.5-.02-.02v-.6l.01-.02.05-.96a16.65 16.65 0 01.87-3.91c.17-.44.36-.88.55-1.3.13-.3.29-.57.44-.85.15-.26.3-.53.48-.8.32-.5.67-.98 1.06-1.43.22-.26.44-.52.68-.76.38-.4.76-.77 1.18-1.1l.65-.54c.36-.25.71-.5 1.08-.73a20.69 20.69 0 011.86-1l1.12-.44c.3-.1.6-.2.9-.28a14.58 14.58 0 012.75-.5l.59-.03.04-.02h1.34l.02.01.72.05a7 7 0 011.15.15 15.85 15.85 0 012.52.65l1.09.44.83.4c.18.1.35.18.52.29.4.24.77.48 1.14.74a11.59 11.59 0 011.64 1.34l.67.68c.2.22.4.44.58.66l.44.54a18.76 18.76 0 011.22 1.92c.14.25.26.5.39.77l.3.67a27.41 27.41 0 01.63 1.91c.08.28.14.56.2.83.05.23.08.47.12.71.04.22.06.44.08.66l.05.75.02.5.01.03v.6l-.05.96-.05.52a16.77 16.77 0 01-.84 3.44c-.16.4-.32.8-.5 1.2-.15.31-.32.62-.49.93A13.56 13.56 0 0141.75 39c-.24.31-.5.6-.76.9-.17.2-.36.37-.56.56a18.44 18.44 0 01-1.3 1.13 17.49 17.49 0 01-2.1 1.35c-.47.25-.95.48-1.45.67l-.78.3a16.05 16.05 0 01-1.55.42l-.72.15-.52.08-.44.04c-.2.03-.41.05-.62.06l-.5.02c-.01-.02-.01-.01-.03 0zM16.52 25.3c-.91 2.91-.9 5.83 0 8.74h26.97c.9-2.91.9-5.83 0-8.74H16.52zm13.05-4.97H24.75c-.1 0-.16.03-.21.12-.17.3-.37.6-.53.9a12.16 12.16 0 00-1.06 2.6l-.12.52h6.73v-4.14zm.83 14.55v4.14h4.88c.04 0 .07-.01.1-.05.19-.34.4-.66.58-1a13.6 13.6 0 001.06-2.68l.1-.41H30.4zm-7.46 0l.1.42a10.51 10.51 0 001.05 2.67l.58 1c.02.03.05.05.1.05h4.8V34.9h-6.63zm14.04-10.4c-.01-.1-.02-.2-.05-.28-.13-.42-.25-.84-.4-1.25a9.58 9.58 0 00-.72-1.64l-.53-.91c-.03-.05-.06-.06-.12-.06H30.4v4.14h6.6zm.85 0h5.35l-.06-.13a13.87 13.87 0 00-1.46-2.72c-.16-.24-.34-.46-.51-.7a8.91 8.91 0 00-.37-.46c-.06-.06-.1-.14-.22-.14h-4.33c.76 1.3 1.3 2.67 1.6 4.14zm-21 10.4c.12.28.22.55.35.81a14.11 14.11 0 001.3 2.2c.15.24.34.46.51.7l.33.38c.04.04.07.05.13.05H23.7L23.7 39c-.14-.24-.28-.48-.4-.72a12.34 12.34 0 01-1.19-3.3c-.01-.07-.04-.1-.11-.1h-5.08l-.1.01zm26.35 0H38.03c-.05 0-.06.02-.08.07-.1.38-.18.76-.3 1.13a13.64 13.64 0 01-1.21 2.74l-.11.2H40.53c.1 0 .15-.04.2-.1l.11-.13a9.04 9.04 0 00.98-1.32l.71-1.2c.13-.23.24-.47.35-.72l.3-.67zM23.63 20.33H19.47c-.07 0-.13.01-.18.08-.15.2-.32.37-.46.57-.26.34-.51.7-.75 1.05-.23.37-.45.75-.65 1.13-.17.33-.32.67-.47 1l-.13.32H21.94c.03-.01.05-.02.06-.04l.07-.31.39-1.29c.08-.26.19-.52.3-.77a27.64 27.64 0 01.64-1.28c.05-.16.14-.3.23-.46zm8.32-4.68l.75.6a14.8 14.8 0 012.27 2.3c.24.3.47.6.7.92.02.04.04.05.09.05H39.88a14.26 14.26 0 00-7.93-3.87zm-11.8 24.2a14.08 14.08 0 007.9 3.85l-.04-.04-.39-.29-.61-.5c-.23-.2-.47-.4-.69-.62a38.5 38.5 0 01-1.36-1.46l-.67-.88c-.03-.04-.06-.05-.1-.05h-3.94l-.1-.01zm7.88-24.22a14.18 14.18 0 00-7.9 3.88H24c.12 0 .2-.02.28-.13a15.59 15.59 0 011.4-1.7l.76-.74.57-.5.54-.44.5-.37zM32 43.68a13.95 13.95 0 007.84-3.84h-4.02a.08.08 0 00-.05.04c-.21.28-.42.56-.65.84l-.61.71c-.16.19-.35.37-.52.54a14.69 14.69 0 01-1.99 1.7zm-1.6.06a15.96 15.96 0 004.36-3.9h-4.36v3.9zm-.82-28.12a15.55 15.55 0 00-4.36 3.89h4.36v-3.9zm5.1 3.89a16.17 16.17 0 00-4.27-3.91v3.9h4.27zm-9.39 20.34a15.97 15.97 0 004.28 3.85v-3.85H25.3z"
                    fill="#023672"/>
                <path
                    d="M28.04 26.78l.1-.5h2.15l-.1.46c0 .02-.04.04-.07.04-.12.02-.25.02-.34.11-.07.08-.14.15-.19.24l-.7 1.15-.62 1.03c-.2.33-.41.66-.6 1L27 31.4l-.61 1-.35.56c-.09.15-.25.16-.36.03a.16.16 0 01-.04-.1v-.7l.02-3.23v-.05l-.22.35c-.22.37-.44.75-.67 1.11l-.62 1.04-.62 1.02-.35.55c-.04.08-.12.11-.18.1-.08-.03-.14-.12-.14-.2v-5.64c0-.1-.03-.21-.06-.32-.03-.08-.1-.12-.19-.13-.09 0-.18 0-.29-.02l.09-.48h2.34l-.13.47c-.08.02-.16.02-.24.05a.2.2 0 00-.14.18v2.97l.16-.24.64-1.04.6-.98.01-.06v-.54c0-.2-.12-.3-.3-.3a2.1 2.1 0 01-.2-.03l.1-.49h2.37c0 .07-.02.14-.03.2l-.04.25c0 .02-.04.04-.05.05l-.2.01c-.13 0-.18.1-.18.23v2.84c.08-.11.16-.23.22-.35l.6-.97c.19-.3.38-.6.56-.92.07-.11.15-.22.21-.35.05-.1.08-.2.1-.3.02-.12-.05-.19-.19-.19h-.58zM16.67 32.98l.7-2.53h.35l-.01.12c-.05.19-.05.38-.03.57.04.34.17.62.42.86.16.16.37.26.6.3.42.07.78-.06 1.08-.37.1-.1.2-.22.23-.37a2 2 0 000-.4c0-.14-.03-.29-.13-.4l-.38-.38-.42-.41-.2-.23c-.24-.25-.47-.5-.65-.8a1.9 1.9 0 01-.28-.7 2.02 2.02 0 01.3-1.38c.3-.42.7-.69 1.2-.8.37-.09.72-.05 1.06.1l.59.2c.18.05.38.05.56 0 .1 0 .17-.07.2-.18 0-.01.03-.03.05-.03h.33l-.63 2.13h-.29c-.02 0-.05-.03-.05-.05-.04-.22-.08-.44-.14-.64a1.28 1.28 0 00-.47-.72.74.74 0 00-.4-.14.92.92 0 00-.58.14.84.84 0 00-.35.51 1 1 0 00.03.64c.06.17.15.32.27.44l.76.82.42.44c.26.29.45.6.5.98.05.35.01.7-.1 1.01-.15.4-.41.72-.77.95-.27.17-.56.28-.88.33a2.9 2.9 0 01-.67.03 2.08 2.08 0 01-.7-.18 1.04 1.04 0 00-.52-.1c-.18.02-.37 0-.54.1a.29.29 0 00-.08.06c-.03.05-.06.08-.12.07l-.26.01zM37.35 28.15v-.42a.85.85 0 00-.13-.45.61.61 0 00-.48-.3l-.63-.03c-.29 0-.33.07-.4.3-.11.33-.19.67-.28 1l-.17.7v.06c.3.01.58 0 .83-.2.14-.11.23-.26.3-.42.02-.05.05-.05.09-.05l.3.05-.5 2.03h-.4l-.02-.5c0-.1-.02-.2-.13-.25a.58.58 0 00-.2-.05l-.42-.03-.19.64-.22.8-.29 1.03a.37.37 0 00-.01.17c.02.11.09.18.2.2.14.03.26.04.4.05h.19l-.14.51h-2.93l.13-.5c.1 0 .2-.02.3-.04.25-.06.37-.24.43-.47l.32-1.2c.1-.34.18-.67.26-1l.31-1.14.25-.93c.05-.2.1-.4.13-.58.02-.06-.02-.15-.07-.19a.71.71 0 00-.36-.11l-.42-.04.11-.49h4.7l-.14.5-.35 1.3c-.01.05-.03.05-.06.05h-.31zM37.93 28.15l.18-.65.32-1.15c.02-.05.03-.06.08-.06h4.55l-.5 1.85h-.35v-.42c-.01-.2-.05-.4-.21-.55a.76.76 0 00-.42-.19l-.34-.04-.2.79-.35 1.28-.29 1.11-.34 1.28-.18.7c-.04.16.1.36.28.4.1 0 .18 0 .28.02l-.1.45h-3.09l.1-.46c0-.01.04-.04.06-.04h.28a.97.97 0 00.52-.15c.1-.07.16-.17.2-.28l.1-.43c.08-.33.18-.65.27-.98l.3-1.12.26-.96.3-1.12.13-.48c-.2.01-.4.03-.57.1-.28.09-.49.26-.66.48-.1.14-.13.32-.18.48v.03c-.01.08-.06.11-.15.1l-.28.01zM31.32 32.47l-.07.33c-.05.18-.05.18-.23.18h-2.58l.06-.34c0-.03.02-.06.01-.1 0-.07.04-.08.1-.08.15.01.3-.01.45-.06a.59.59 0 00.43-.47l.31-1.15c.1-.33.18-.65.26-.99l.3-1.07.24-.93c.06-.23.13-.46.18-.7.04-.13-.01-.24-.15-.28l-.24-.05.08-.43c0-.02.03-.04.05-.04H33.24l-.1.43c0 .05-.03.06-.08.07-.15 0-.3.02-.46.05a.44.44 0 00-.35.33l-.29 1-.28 1.04-.48 1.82c-.08.32-.18.64-.27.95-.04.11-.07.21-.07.33 0 .06.04.1.1.12.06.02.12.02.19.03l.17.01zM32.08 32.52c0 .18-.06.35-.2.48-.09.1-.2.13-.31.08-.12-.04-.16-.15-.18-.26a.7.7 0 01.15-.55c.06-.08.22-.17.36-.12.1.04.18.18.18.3.01.02 0 .04 0 .07zM40.7 32.76c0-.21.06-.39.2-.51.1-.09.2-.12.31-.08.12.05.16.15.18.27.02.2-.03.39-.16.55-.07.1-.23.16-.34.13-.1-.04-.15-.12-.18-.22l-.02-.14zM26.75 32.72a.7.7 0 01.18-.46c.08-.1.2-.16.33-.12.1.03.16.12.18.21.06.26 0 .5-.2.68-.16.13-.36.1-.44-.11-.03-.06-.03-.13-.05-.2zM21.54 32.16c.12-.02.22.1.25.23a.67.67 0 01-.19.64c-.11.11-.23.13-.35.06-.1-.07-.12-.18-.13-.3a.75.75 0 01.18-.54c.05-.06.14-.1.24-.1zM35.37 32.77c.01-.25.07-.42.23-.56.09-.08.24-.12.34-.02.03.02.05.06.07.09.05.1.05.19.05.25 0 .16-.06.28-.08.3-.05.1-.11.22-.24.25-.1.03-.27.02-.32-.1l-.05-.21z"
                    fill="#023672"/>
              </svg>

            </div>

            <p class="page__discount-text">
              🔥 Add dedicated SWIFT <b>*20% discount</b>
            </p>

            <button type="button" class="page__discount-btn page__button">
              Apply Now
            </button>

          </aside>

          <hr class="page__hr">

          <div class="finish-application__total">

						<span class="finish-application__total-left">
							Total onboarding fee:
						</span>

            <span class="finish-application__total-right">
							€ {{ items.sum }}
						</span>

          </div>

          <div class="page__proceed-foot">

            <div class="form-input__checkbox" style="margin: 24px 0;">
              <div  class="checkbox-container">
                <input  ref="checkAgree" type="checkbox" name="solicitation_form" class="custom-checkbox" v-model="isChecked"><span>I agree with <a
                  href="/docs/non-solicitation_declaration.pdf">non solicitation form</a></span>
              </div>
            </div>


            <button class="page__button page__button--red" @click="onApply" :disabled="(!isChecked || !isFinishConfirm)">
              Apply
            </button>

            <div class="page__proceed-foot-btns-gray">

              <button class="page__button page__button--gray" type="button" onclick="window.location = route('bank.account').url()">
                Back 🔙
              </button>

              <a :href="route('home')" class="page__button page__button--gray">
                Main Menu 🏠
              </a>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
</template>

<script>
import Button from "../Jetstream/Button";
import Input from "../Jetstream/Input";

export default {
  components: { Input, Button },
  props: ['items'],
  name: "checkout-component",
  data: function() {
    return {
      count: 0,
      isInvalid: true,
      isChecked: false,
      isConfirm: true,
      isProcess: false,
      isFinishConfirm: false,
      isErrorEmail: false,
      isErrorCode: false,
      isNeedResend: false,
      email: '',
      currentTime: 59,
      formatCurrentTime: '00:00',
      code: ''
    }
  },
  created () {
    if(this.items.email) {
      this.email = this.items.email;
      this.isConfirm = false;
      this.isFinishConfirm = true;
    }

    window.addEventListener('beforeunload', this.closePage);
  },
  mounted () {
    this.formatTime(this.currentTime);
  },
  methods: {
    startTimer: function() {
      this.timer = setInterval(() => {
        this.currentTime--
      }, 1000)
    },
    stopTimer () {
      clearTimeout(this.timer)
    },
    formatTime (time) {
      let formatResult = '';

      var sec_num = parseInt(time, 10);
      var hours = Math.floor(sec_num / 3600);
      var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
      var seconds = sec_num - (hours * 3600) - (minutes * 60);

      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      if (seconds < 10) {
        seconds = "0" + seconds;
      }

      formatResult = minutes + ':' + seconds;

      this.formatCurrentTime = formatResult;
    },
    onApply () {

      axios.post(route('api.checkout.finish').url(), {
        email: this.email,
      }).then(response => {
        const { data } = response;

        if (!data.error && data.url) {
          window.location = data.url;
        }
      });

    },
    onChangeEmail () {
      this.isInvalid = !validateEmail(this.email);
    },
    onFocusEmail () {
      this.isErrorEmail = false;
    },
    onSendConfirm() {

      this.isInvalid = !validateEmail(this.email);

      if(this.isInvalid) {
        this.isErrorEmail = true;
        return;
      }

      this.isProcess = true;
      this.isNeedResend = false;

      axios.post(route('api.mail.send_code').url(),{email: this.email}).then(response => {
        const { data }  = response;

        if(!data.error) {
          this.isConfirm = false;
          this.startTimer();
          this.isProcces = false;
          this.isErrorCode = false;
        }

      }).catch(response => {
        this.isProcess = false;
        this.isInvalid = true;
      });

    },
    onEditEmail() {
      this.isProcess = false;
      this.isConfirm = true;
      this.stopTimer();
      this.currentTime =  59;
      this.isFinishConfirm = false;
    },
    closePage() {
      axios.post(route('log_activity.store').url(), { 'email': this.email, 'last_step': 'bank.checkout' })
      .then(response => {
        const { data } = response;
      });
    }
  },
  watch: {
    currentTime (time) {
      this.formatTime(time);
      if (time === 0) {
        this.stopTimer();
        this.isNeedResend = true;
        this.currentTime =  59;
      }
    },
    code(val) {
      if(val.length === 4) {
        this.isProcces = true;

        axios.post(route('api.mail.check_code').url(),{email: this.email, code: this.code}).then(response => {
          const { data }  = response;

          if(!data.error && data.data.verification) {
            this.stopTimer();
            this.isProcess = false;
            this.isFinishConfirm = true;
            this.$refs.checkAgree.focus();
            this.isErrorCode = false;
          } else {
            this.isErrorCode = true;
          }

        });
      }
    }
  },
}
</script>

<style scoped>

</style>
