<template>
  <div :class="this.myclass" @mouseover="active = true"
       @mouseleave="active = false">

    <details class="page__tooltip"  :open="active" >

      <summary>
        help
      </summary>

      <p class="page__tooltip__inner">
        💡 Here is a tool that will help you to get. Here is a tool that will help you to get.(Test text)
      </p>

    </details>

  </div>
</template>

<script>
export default {
  name: "TooltipComponent",
  props: ['myclass'],
  methods: {
    mouseOver: function(){
      this.active = !this.active;
    }
  },
  data: function () {
    return {
      active: false
    }
  }
}
</script>

<style scoped>

</style>
